@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Radio+Canada&display=swap');

:root {
    --background: #0f2f3c;
    --skin: #40ef30;
    --black: #10122b;
    --white: #fff;
    --tooth: #fff998;
    --slime: #dae21c;
    --brain: rgb(255, 129, 188);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(225deg, rgb(4,20,50), rgb(10, 1, 78), rgb(1, 3, 124), rgb(0, 0, 0));
}

.head {
    background: var(--skin);
    height: 300px;
    width: 300px;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 0px 5px 0px var(--black);
}

.text {
    position: absolute;
    background: var(--white);
    top: -110px;
    left: -120px;
    padding: 20px 30px;
    border-radius: 20px;
    font-family: 'Creepster';
    color: var(--brain);
    letter-spacing: 5px;
    z-index: 10;
    box-shadow: 0px 0px 5px 0px var(--black);
    font-size: 50px;
}

.ear-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    margin: auto 0;
    width: 50px;
    height: 50px;
    background: var(--skin);
    opacity: .8;
    border-radius: 50%;
}


.ear-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    margin: auto 0;
    width: 50px;
    height: 50px;
    background: var(--skin);
    opacity: .8;
    border-radius: 50%;
}

.brain {
    content: '';
    position: absolute;
    height: 100px;
    width: 140px;
    top: -50px;
    right: -20px;
    background: rgb(10, 1, 78);
    border-radius: 50%;
    overflow: hidden;
}

.brain::before {
    content: '';
    height: 100px;
    width: 150px;
    position: absolute;
    background: var(--brain);
    bottom: -55px;
    left: -40px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--black);
}

.eye-left {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--black);
    position: absolute;
    top: 70px;
    left: 45px;
}

.eye-left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    background: var(--white);
    border-radius: 50%;
}

.eye-right{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 88px;
    right: 45px;
}

.eye-right::before {
    content: '';
    position: absolute;
    background: var(--black);
    height: 30px;
    width: 100%;
    border-radius: 40px;
    transform: rotate(45deg);
}

.eye-right::after {
    content: '';
    position: absolute;
    background: var(--black);
    height: 30px;
    width: 100%;
    border-radius: 40px;
    transform: rotate(-45deg);
}

.nose {
    width: 10%;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.nose::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: var(--black);
    opacity: .7;
    border-radius: 50%;
}

.nose::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: var(--black);
    opacity: .7;
    border-radius: 50%;
}

.mouth {
    position: absolute;
    height: 75px;
    width: 200px;
    border-radius: 35px;
    background: 35px var(--black);
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tooth-1 {
    position: absolute;
    bottom: 2px;
    left: 50px;
    height: 36px;
    width: 24px;
    background: var(--tooth);
    border-radius: 10px 10px 0 0 ;
}

.tooth-2 {
    position: absolute;
    top: 2px;
    right: 80px;
    height: 30px;
    width: 24px;
    background: var(--tooth);
    border-radius: 0 0 10px 10px;
}

.tooth-3 {
    position: absolute;
    bottom: 2px;
    right: 40px;
    height: 30px;
    width: 24px;
    background: var(--tooth);
    border-radius: 10px 10px 0 0 ;
}

.slime {
    background: var(--slime);
    position: absolute;
    bottom: -30px;
    width: 35px;
    height: 50px;
    left: 12px;
    border-radius:10px 10px 0 0;
}

.slime-1 {
    background: var(--slime);
    position: absolute;
    bottom: -80px;
    width: 8px;
    height: 90px;
    left: 12px;
    border-radius: 10px;
}

.slime-2 {
    background: var(--slime);
    position: absolute;
    bottom: -50px;
    width: 8px;
    height: 60px;
    left: 39px;
    border-radius: 10px;
}

.slime-3 {
    background: var(--slime);
    position: absolute;
    bottom: -100px;
    width: 8px;
    height: 100px;
    left: 25px;
    border-radius: 10px;
}

.detail-1 {
    position: absolute;
    top: 15px;
    left: 70px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--tooth);
    opacity: .5;
}

.detail-2 {
    position: absolute;
    bottom: 80px;
    left: 70px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--tooth);
    opacity: .5;
}